<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Conspectus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FA41E5D1D315A650095AD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA41E741D315A660095AD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA41E7F1D315A660095AD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
